@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {*/
/*  !* --foreground-rgb: 0, 0, 0;*/
/*  --background-start-rgb: 214, 219, 220;*/
/*  --background-end-rgb: 255, 255, 255; *!*/
/*  --foreground: #111;*/
/*  --background: #fff;*/
/*  --inset-color: rgba(0, 0, 0, 0.1);*/
/*  --outset-color: rgba(255, 255, 255, 0.1);*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: ;
    --background-end-rgb: 40, 40, 40; */
  }
/*}*/

@layer base {
  html[data-theme='light'] {
    --color-fg-hard: 50 50 50;
    --color-fg: 80 80 80;
    --color-fg-soft: 120 120 120;
    --color-bg: 240 240 240;
    --color-inset: 200 200 200;
    --color-inset-shadow: rgba(0,0,0, 0.2);
    --color-outset: rgba(0, 0, 0, 0.05);
    --color-active: 37 128 202;
    --active-gradient: linear-gradient(to bottom, rgb(59, 135, 250), rgb(31, 119, 220));
    /*--color-active: #2557ca;*/
    --section-shadow-radius: 10px;
  }

  html[data-theme='dark'] {
    --color-hard: 220 220 220;
    --color-fg: 180 180 180;
    --color-fg-soft: 120 120 120;
    --color-bg: 20 20 20;
    --color-inset: 255 255 255;
    --color-inset-shadow: rgba(0,0,0, 0.9);
    --color-outset: rgba(0, 0, 0, 0.05);
    --color-active: 37 128 202;
    --active-gradient: linear-gradient(to bottom, rgb(50, 120, 222), rgb(30, 104, 192));
    --section-shadow-radius: 60px;
  }
}


html, body {
  /*background-color: var(--background);*/
  @apply bg-bg;

  /* Prevent scroll gestures from navigating away from the page
  * Could place enable this only for certain elements with mouse enter/exit JS handlers
  * https://stackoverflow.com/questions/15829172/stop-chrome-back-forward-two-finger-swipe
  */
  overscroll-behavior-x: none;
  /*linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */

  @apply font-light text-fg;
}

h1, h2, h3, h4 {
  @apply font-normal text-fg font-bold;
}

.round-btn {
  @apply px-3 py-1 whitespace-nowrap;
  @apply rounded-lg;
}

.disabled, :disabled {
  opacity: .6;
  pointer-events: none;
}

.accent-btn {
  /* background: linear-gradient(to bottom, #2557ca,#2557ca, #2657ca); */
  background: var(--active-gradient);
  /* box-shadow: 0 .5px .2px #ddd; */
  /* border-bottom: 1px solid #2a6add;
  border-top: 1px solid #2a6add; */
  /* border: 1px solid rgba(0,0,0,.9); */
  border-top: 1px solid #fff2;
  /*box-shadow: 0px 0px 1px rgba(0, 0, 0, 1);*/
  color: #e7e7e7 !important;
  /* border: 1px solid #28201f; */
}

nav > a {
  @apply round-btn;
  @apply text-fg-hard !important;
  /* @apply py-2; */
}

a {
/* animation */
}

b {
  @apply font-bold;
}

.instructions p {
  @apply mt-4;
}

.inline-icon {
  @apply inline;
}

.instructions {
  @apply text-sm;
}

.instructions .inline-icon {
  @apply text-2xl;
}

.inset-panel {
  @apply bg-inset/5;
  box-shadow: 0px 0px var(--section-shadow-radius) 0px var(--color-inset-shadow);
}

.page-section {
  @apply inset-panel;
}

.sidebar {
  /* @apply p-5;
  @apply h-full overflow-scroll; */
  /* box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, .8); */
}

.hover-btn {
  /* background-color: rgba(255, 255, 255, .03);
  @apply text-white/50; */
  @apply duration-500 ease-in-out;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0.7;
}

.hover-btn:hover {
  /* @apply text-white/70;
  background-color: rgba(255, 255, 255, .04); */
  opacity:0.9;
}

.hover-btn.active {
  /* @apply bg-white/10 text-white/90; */
  opacity: 1.0;
}

.demo-tile {
  /* @apply hover-btn; */
  @apply text-fg bg-inset;
  @apply text-2xl font-normal;
  @apply w-52 h-32 flex items-center text-center;
  /* @apply bg-black rounded-lg p-6 border border-gray-600 border-opacity-50; */
  /* @apply transition-colors bg-gradient-to-b from-black to-gray-900; */
  @apply duration-300 ease-in-out;
  @apply inset-panel;
  @apply shadow-md rounded-2xl;
  border-top: 1px solid rgba(255, 255, 255, .05);
  border-bottom: 1px solid rgba(255, 255, 255, .07);
  /* --tw-shadow: 1px -1px 4px #333; */
}

.demo-tile:hover {
  /* @apply border-opacity-100;
  @apply text-gray-200;
  background-color: rgba(255, 255, 255, .045); */
  @apply shadow-lg;
}

.demo-tile.active {
  background-color: rgba(255, 255, 255, .06);
}

footer > * {
  /* @apply color-slate-500; */
  /* color: #888; */
}

